<form action="">
  <div role="main" class="form-all">
    <div class="logo" style="position: absolute;top:30px; margin-bottom: 20px;">
      <img src="https://www.jotform.com/uploads/OliviaTrivial/form_files/ABC_Company-removebg-preview.6124aae4bb8751.90603929.png" class="form-page-cover-image" width="140" aria-label="Form Logo" style="aspect-ratio:140/140">
    </div>  
    <div style="min-width: 732px; background-color: white;position: absolute; top: 250px;">
       <div>
        <ul class="form-section" style="align-items: center;">
          <li>
            <div >
              <h1 id="header_1" class="form-header" style="text-align: center; padding-bottom: 30px; color: #28436a; font-family: serif; margin-top: 30px; border-bottom: 1px solid #28436a;">Employee Self Appraisal Form</h1>
            </div>
          </li>
          <br>
          <li>
            <div><label for="" style="font-family: serif;">Name</label>
              <div class="row" >
               <div class="col-6"><input class="form-control" type="text" >First Name</div>
               <div class="col-6"><input class="form-control" type="text">Last Name</div>
            </div>
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="" style="font-family: serif;">Date of Hire</label>
              <div>
                <input style="font-family: serif;" class="form-control"  type="date" name="" id="">
                <span>Date</span>
              </div>
            </div>
          </li>
          <br>
          <li>
            <div><label for="" style="font-family: serif;">Job Title</label>
              <div>
                <input type="text" class="form-control" >
              </div>
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="deparment" style="font-family: serif;">Department</label>
              <br><br>
              <div style="font-family: serif;">
                <span><input class="form-check-input" name="deparment" type="radio" value="Finance">Finance</span>
                <span><input class="form-check-input" name="deparment" type="radio" value="Human Resources">Human Resources</span>
                <span><input class="form-check-input" name="deparment" type="radio" value="Marketing">Marketing</span>
                <span><input class="form-check-input" name="deparment" type="radio" value="startegy">startegy</span>
                <span><input class="form-check-input" name="deparment" type="radio" value="Administration">Administration</span>
                <span><input class="form-check-input" name="deparment" type="radio" value="Other">Other</span>
              </div>
              <br>
              <input class="form-control" style="width: 90%; font-family: serif;" type="text" placeholder="Please type another option here">
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="" style=" font-family: serif;">Please rate how strongly you satisfied with each of the statements.</label>
              <div>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="form-matrix" style="border:none; background-color: white;" >&nbsp;</th>
                      <th class="form-matrix-th"><label for="">Total Disagree</label></th>
                      <th class="form-matrix-th"><label for="">Disagree</label></th>
                      <th class="form-matrix-th"><label for="">Neutral</label></th>
                      <th class="form-matrix-th"><label for="">Agree</label></th>
                      <th class="form-matrix-th"><label for="">Total Agree</label></th>
                      <th class="form-matrix-th"><label for="">N/A</label></th>
                    </tr>
                    <tr>
                      <th><label id="label_7_row_0">I completed my tasks in the predetermined timeframe. </label></th>
                      <td><input type="radio" name="row_0"></td>
                      <td><input type="radio"name="row_0"></td>
                      <td><input type="radio" name="row_0"></td>
                      <td><input type="radio" name="row_0"></td>
                      <td><input type="radio" name="row_0"></td>
                      <td><input type="radio" name="row_0"></td>
                    </tr>
                    <tr>
                      <th><label id="label_7_row_0">I never miss any deadline during the period.  </label></th>
                      <td><input type="radio" name="row_1"></td>
                      <td><input type="radio" name="row_1"></td>
                      <td><input type="radio" name="row_1"></td>
                      <td><input type="radio" name="row_1"></td>
                      <td><input type="radio" name="row_1"></td>
                      <td><input type="radio" name="row_1"></td>
                    </tr>
                    <tr>
                      <th><label id="label_7_row_0">I always communicate with other team members clearly. </label></th>
                      <td><input type="radio" name="row_2"></td>
                      <td><input type="radio" name="row_2"></td>
                      <td><input type="radio" name="row_2"></td>
                      <td><input type="radio" name="row_2"></td>
                      <td><input type="radio" name="row_2"></td>
                      <td><input type="radio" name="row_2"></td>
                    </tr>
                    <tr>
                      <th><label id="label_7_row_0">I am proactive instead of being reactive during the projects. </label></th>
                      <td><input type="radio" name="row_3"></td>
                      <td><input type="radio" name="row_3"></td>
                      <td><input type="radio" name="row_3"></td>
                      <td><input type="radio" name="row_3"></td>
                      <td><input type="radio" name="row_3"></td>
                      <td><input type="radio" name="row_3"></td>
                    </tr>
                    <tr>
                      <th><label id="label_7_row_0">I have achieved all of my goals that I defined in previous evaluation. </label></th>
                      <td><input type="radio" name="row_4"></td>
                      <td><input type="radio" name="row_4"></td>
                      <td><input type="radio" name="row_4"></td>
                      <td><input type="radio" name="row_4"></td>
                      <td><input type="radio" name="row_4"></td>
                      <td><input type="radio" name="row_4"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li>
            <div>
              <label for="">Please rate your Skills and proficiency in carrying out given job role</label>
              <br>
              <div class="rating">
                <div *ngFor="let rating of [1,2,3,4,5]" class="circle" [class.filled]=" rating <= currentRating" (click)="rate(rating)">
                  <span>{{rating}}</span>
                </div>
              </div>
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="">Please rate your skills and knowledge to perform the job competently</label>
              <br>
              <div class="rating1">
                <div *ngFor="let rating of [1,2,3,4,5]" class="circle" [class.filled]=" rating <= currentRating" (click)="rate(rating)">
                  <span>{{rating}}</span>
                </div>
              </div>
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="">Please rate your attitude to work </label>
              <br>
              <div class="rating1">
                <div *ngFor="let rating of [1,2,3,4,5]" class="circle" [class.filled]=" rating <= currentRating" (click)="rate(rating)">
                  <span>{{rating}}</span>
                </div>
              </div>
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="">Ability to work independently </label>
              <br>
              <div class="rating1">
                <div *ngFor="let rating of [1,2,3,4,5]" class="circle" [class.filled]=" rating <= currentRating" (click)="rate(rating)">
                  <span>{{rating}}</span>
                </div>
              </div>
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="">Willingness to take on additional responsibilities</label>
              <br>
              <div class="rating1">
                <div *ngFor="let rating of [1,2,3,4,5]" class="circle" [class.filled]=" rating <= currentRating" (click)="rate(rating)">
                  <span>{{rating}}</span>
                </div>
              </div>
            </div>
          </li>
          <br>
          <li>
            <div>
              <label for="">Reliability (attendance, punctuality)</label>
              <br>
              <div class="rating1">
                <div *ngFor="let rating of [1,2,3,4,5]" class="circle" [class.filled]=" rating <= currentRating" (click)="rate(rating)">
                  <span>{{rating}}</span>
                </div>
              </div>
            </div>
          </li>
          <br>
          <li >
            <label>Define your most important accomplishments relevant to your position since the previous period in order of significance. </label>
            <div>
            <textarea style="width:648px;height:163px" data-component="textarea"  placeholder="Type here..." spellcheck="false"></textarea> </div>
          </li>
          <br>
          <li >
            <label>Define your biggest challenges and how did you solve them during this period.</label>
            <div>
            <textarea style="width:648px;height:163px" data-component="textarea"  placeholder="Type here..." spellcheck="false"></textarea> </div>
          </li>
          <br>
          <li >
            <label>Define the areas you consider that you should improve and your improvement plan.</label>
            <div>
            <textarea style="width:648px;height:163px" data-component="textarea"  placeholder="Type here..." spellcheck="false"></textarea> </div>
          </li>
          <br>
          <li >
            <label>State that in what aspects you enjoy the most and the least during completing your tasks. </label>
            <div>
            <textarea style="width:648px;height:163px" data-component="textarea"  placeholder="Type here..." spellcheck="false"></textarea> </div>
          </li>
          <br>
          <li >
            <label>Specify your following goals you want to achieve in this financial year.</label>
            <div>
            <textarea style="width:648px;height:163px" data-component="textarea"  placeholder="Type here..." spellcheck="false"></textarea> </div>
          </li>
          <br>
          <li >
            <label>State how your reporting authority can help/support you in achieving your goals. </label>
            <div>
            <textarea style="width:648px;height:163px" data-component="textarea"  placeholder="Type here..." spellcheck="false"></textarea> </div>
          </li>
          <br>
          <li>
            <label for="">Overall, please rate yourself for the last financial year</label>
            <div>
  
            </div>
          </li>
          <br>
          <li >
            <label>Do you have any further comments?</label>
            <div>
            <textarea style="width:648px;height:163px" data-component="textarea"  placeholder="Type here..." spellcheck="false"></textarea> </div>
          </li>
          <br>
          <li>
            <label for="">Date</label>
            <div>
              <input type="date">
              <br>Date
            </div>
          </li>
          <br>
          
           <li>
             <div style=" display: flex;align-items: center;">
              <button style="background-color: #2462B9; color: white;">Submit</button>
             </div>
           </li>
        </ul>
       </div>
    </div>
  </div>
</form>